$white: #ffffff;
$black: #000000;
$lightgreenish: #34998e;
$solidgreenish: #007078;
$lightblack: #25272b;
$lightorange: #c98551;
$verylightblack: #51555b;
$lightskygreenish: #49a99e;
$lightred: #d76a43;
$lightsolidblack: #1f1f1f;

// font sizes
$xxxsmall-body-copy: 12px;
$xxsmall-body-copy: 14px;
$xsmall-body-copy: 2rem;
$base-font-size: 2.25rem;
$body-copy: 20px;
$large-body-copy: 3rem;
$xlarge-body-copy: 35px;
$sub-heading-copy: 42px;
$xsub-heading-copy: 46px;
$main-heading-copy: 54px;

//line height
$base-line-height: 1.2;
